*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
}


header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}


.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 160px;
	width: auto;
	float: left;
	margin: 20px;
}


/*.upper-header{
	color: white;
	word-spacing: 3px;
	letter-spacing: 1px;
	float: left;
	margin-top: 45px;
}

.upper-header-btmargin{
	margin-bottom: -15px;
}*/


.main-nav{
	float: right;
	margin-top:50px;
}

.main-nav li{
	display: inline-block;
	position: relative;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	color: #fff;
	padding: 5px;
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}

.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;

}


.main-content-header{
	width: 1180;
	position: absolute;
	/*border: 1px solid red;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ShreyasHostel{
	margin-top: -18px;
}

.tagline{
	margin-top: -35px;
	margin-bottom: 10px;
	left: 70%;
}


h1{
	color: #fff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
}



.colorchange{
	animation: colorch 1s infinite;
}

@keyframes colorch{
	0%{color: red;}
	25%{color: #bf55ec;}
	50%{color: white;}
	100%{color: #bf55ec;}
}


.dropdown1{
	display: inline-block;
	padding: 10px,30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	font-weight: lighter;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}

.dropdown2{
	display: inline-block;
	padding: 10px,30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	font-weight: lighter;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}


.button1{
	background-color: transparent;
	color: #00ff00;
	border: 2px solid black;
	font-size: 20px;
	padding: 10px 30px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 25px 25px 25px 25px;

}

.button1:hover{
	background-color:gray;
}

.button2{
	background-color: transparent;
	color: #00ff00;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 25px 25px 25px 25px;
	font-size: 20px;
	position: fixed;
	transform: translate(10%, -60%);

}

.button2:hover{
	background-color:gray;
}

.mobile-icon{display: none;}


#drop-content{
	position: absolute;
	z-index: 1;
}


#drop-content a{
	border: 1px solid black;
	display: block;
	background: gray;
	color: black;
	text-align: right;
	font-size: 18px;
	text-decoration: none;
	margin-top: 2px;
	padding: 4px 36px;
	border-radius: 25px 25px 25px 25px;
	opacity: .8;
	transform: translate(-120%, -450%);
}

#slide-content{
	position: absolute;
	z-index: 1;
}


#slide-content a{
	border: 1px solid black;
	display: block;
	background: gray;
	color: black;
	text-align: right;
	font-size: 18px;
	text-decoration: none;
	margin-top: 2px;
	padding: 3px 36px;
	border-radius: 25px 25px 25px 25px;
	opacity: .8;
	transform: translate(5%, 150%);
}

#slide-content a:hover{
	background-color: #fff;
}

/*.hover_gmaps a:hover{

}*/

#show-content{
	position: absolute;
	z-index: 1;
}

#show-content a{
	display: block;
	background: gray;
	color: black;
	font-size: 15px;
	text-decoration: none;
	margin-top: 8px;
	padding: 3px 32px;
	border-radius: 25px 25px 25px 25px;
}


/*///////////// Responsive Queries///////////*/


@media only screen and (max-width: 756px){
	h1{font-size: 200%;}
}


@media only screen and (max-width:773px){

	.button1{margin-bottom: 10px;}
}



@media only screen and (max-width: 776px){
	h1{font-size: 180%;}

	.main-nav{display:none;}

	.mobile-icon{display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}

	.main-nav{float: left;}

	.main-nav li{
		margin-top: 10px;
	}
}

@media only screen and (max-width:1292px){
	#drop-content a{
		font-size: 70%;
	}
}

@media only screen and (max-width:1174px){
	#drop-content a{
		font-size: 70%;
	}
	#slide-content a{
		font-size: 70%;
	}
}

@media only screen and (max-width: 1135px){
	#drop-content a{
		font-size: 50%;
	}
}

@media only screen and (max-width: 995px){
	#drop-content a{
		transform: translate(-15%, 80%);
		font-size: 50%;
	}
}



